/**
 * @file
 * Presentation-specific styles.
 */
@import url("../lib/css/font-awesome.min.css");
@import url("../lib/css/zenburn.css");

img {
  display: block;
}

.fa-drupal {
  color: #0678be;
}
.fa-twitter {
  color: #1DA1F2;
}

.reveal a {
  color: inherit;
}

.reveal ul {
  font-size: 1.5rem;
  align-self: center;
  justify-self: center;
}
@media (min-width: 1280px) {
  .reveal ul {
    width: calc(80% - 1em);
  }
  .reveal ul ul {
    width: auto;
  }
}

.reveal pre code {
  /*background-color: #f8f8f8;*/
  /*border: 1ex solid #f8f8f8;*/
  font-size: 125%;
  line-height: 1.1em;
}

.header .twitter {
  margin-left: auto;
  opacity: 0.5;
}
.header .twitter .fa-twitter {
  color: inherit;
}

.reveal.pattern--indigo .slides section.title {
  background-color: #3D6D99;
}
.reveal.pattern--indigo .progress,
.reveal.pattern--indigo .controls {
  color: #3D6D99;
}

.reveal .slides section.title {
  padding: 0;
}
.reveal .slides section.title .content {
  grid-template-columns: auto;
  grid-template-areas: "title" "description";
}
.slides .title .presentation-url {
  grid-area: header;
  text-align: right;
  font-size: 0.8em;
  align-self: center;
  opacity: 0.5;
}

.reveal .smaller {
  font-size: 0.8em;
}

@media (max-width: 480px) {
  #title .presentation-url {
    display: none;
  }
}

#about {
  background-image: url('../images/snowshoe.jpg');
  background-size: cover;
  background-position: center center;
}
#about a {
  color: rgb(51, 51, 51);
}
#about .content {
  justify-self: start;
}
#about aside {
  background-color: rgba(255, 255, 255, .8);
  color: #000;
  padding: 5vmin;
}
@media (min-width: 768px) {
  #about aside {
    font-size: 1.5em;
  }
}
#about aside hr {
  color: rgba(0,0,0, 0.075);
  margin: 2.5vmin 0;
}
#about aside ul {
  display: block;
  font-size: inherit;
  list-style: none;
  margin: 2.5vmin 0 0;
  width: auto;
}
#about .projects {
  text-align: center;
}
#about .accounts a .fa + span,
#about .projects a {
  /*text-decoration: underline rgba(51, 51, 51, 0.1);*/
}
#about .accounts a:hover .fa + span,
#about .projects a:hover {
  text-decoration: underline rgba(51, 51, 51, 0.65);
}
#about .accounts {
  display: grid;
  justify-content: center;
}
#about .accounts a {
  display: flex;
  align-items: baseline;
}
#about .accounts .fa {
  margin-right: 0.25ex;
  width: 1.8ex;
}

.screenshot {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: content-box;
}
#ie9-support {
  background-image: url("../images/ie9-support.png");
}
#ie9-collection-renderer {
  background-image: url("../images/ie9-collection-renderer.png");
}

#end .content {
  margin-top: auto;
  text-align: center;
  font-size: 150%;
}
